:root{
    --primary-text-color:#212121;
    --text-color:#757575;
    --white-color:#FFFFFF;
    --blue-color:#2196F3;
}



/* Колір основного тексту */
/* основний колір текст color#212121:  */
/* вторинний колір текст color#757575*/
/* color: #FFFFFF білий */
/* color: #2196F3 блакитний */
/* футер мейл телефон color: rgba(255, 255, 255, 0.6) */

body{
    color: var(--primary-text-color);
    background-color:var(--white-color);
}
/* Лого */
.logo{
    color: #000000; ;
}
.logo-text{
    color:var(--blue-color);
}

ul{
    list-style: none;
}

/* Header */
.site-nav a{
    color:var(--primary-text-color);
}
.list-contact a{
    color: var(--text-color);
}
.list-contact a:hover,
.list-contact a:focus{
   color: var(--blue-color);
}
.section-text{
    color:var(--text-color) ;
}

.link{
    color: var(--primary-text-color);
}
.link:hover,
.link:focus{
    color: var(--blue-color);
}
/* Hero */

.hero{
    background-color: #2F303A; 
}
.hero-title{
     color:var(--white-color);
}
.hero-button{
    color:var(--white-color);
    background-color:var(--blue-color);
}

/* Наша команда */

.team{
    background-color:#F5F4FA; 
}

/* Footer */
.footer{
    background: #2F303A;;
}
.footer-address{
    color: var(--white-color);
}
.footer-link{
    color:rgba(255, 255, 255, 0.6) ;
}
.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus{
    color: var(--blue-color);
}

/* Кнопки портфоліо */
.section-button{
    color: var(--primary-text-color);   
}
.section-button:hover,
.section-button:focus{
    color: var(--white-color);
    background-color: var(--blue-color);
}
/* Посилання в портфоліо */
.list-title{
    color: var(--primary-text-color);
}
.list-title:hover,
.list-title:focus{
    color: var(--blue-color);
}
